@font-face {   
    src: url("../fonts/Raleway/static/Raleway-Thin.ttf");
	font-family: RalewayThin;
}
@font-face {
	src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
	font-family: Raleway;
}
body {
	background-color: #FFF;
	color: Black;
	margin: 8px 0px 8px 0px;
	font-family: Raleway;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0px;
    line-height: 1.6em;
}
#submitButton {
	background-color: #272727;
	padding: 10px 60px 10px 60px;
	margin: 1em 5px 1em 5px;
	font-size: 48px;
	color: white;
	font-family: RalewayThin;
	font-weight: bold;
}
#volH1{
	background: gray url("../media/staff.png") no-repeat center;
	background-size: cover;
}
#campH1{
	background: gray url("../media/ToTheLake.png") no-repeat center;
	background-size: cover;
}
h1 {
	background-size: cover;
	margin: 20px 0px 20px 0px;
	line-height: 20px;
	padding: 228.5px 0px 228.5px 0px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
	letter-spacing: 0.016129em;
	font-family: RalewayThin;
    font-size: 62px;
    font-weight: 100;
	font-style: normal;
	text-transform: none;
    color: #fff;
}
form{
	margin: 0% 8% 5% 8%;
  display: grid;
  grid-template-areas:
  'disc disc disc disc disc'
  'main main main main right'
  'week week week week week'
  'back back back back back'
  'cert cert cert cert cert'
  'sign sign sign sign sign'
  'ref1 ref1 none ref2 ref2'
  'med med med med med'
  'sub sub sub sub sub';
  grid-gap: 10px;
}
fieldset{
	background-color: white;
}
#logoFig{
	grid-area: right;
}
#logoFig figcaption{
	margin-left: 30px;
	text-align: left;
}
#submitButton {
	grid-area: sub;
}
#discriptionApplication{
	grid-area: disc;
}
#weeksApplication{
	grid-area: week;
}
#camperInfoApplication{
	grid-area: back;
}
#mainApplication{
	grid-area: main;
}
#backgroundCheck{
	grid-area: back;
}
#certificationField{
	grid-area: cert;
}
#signatureField{
	grid-area: sign;
}
#referencesField1{
	grid-area: ref1;
}
#referencesField2{
	grid-area: ref2;
}
#medicalField{
	grid-area: med;
}
legend {
	font-size: 32px;
	font-weight: bold;
	padding: 3px 3px 3px 3px;
}
input {
	margin: 2px;
}
#banner-wrapper{
	float: left;
	margin-left: 6%;
}
