@font-face {   
    src: url("../fonts/Raleway/static/Raleway-Thin.ttf");
	font-family: RalewayThin;
}
@font-face {
	src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf");
	font-family: Raleway;
}
body {
	background-color: #FFF;
	color: Black;
	margin: 8px 0px 8px 0px;
	font-family: Raleway;
}
h1 {
	background: gray url("../media/campSign.jpg") no-repeat center;
	background-size: cover;
	margin: 20px 0px 20px 0px;
	line-height: 20px;
	padding: 228.5px 0px 228.5px 0px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
	letter-spacing: 0.016129em;
	font-family: RalewayThin;
    font-size: 62px;
    font-weight: 100;
	font-style: normal;
	text-transform: none;
    color: #fff;
}
button {
	background-color: #272727;
	padding: 10px 60px 10px 60px;
	margin: 1em 5px 1em 5px;
	font-size: 48px;
	color: white;
	font-family: RalewayThin;
	font-weight: bold;
}
article {
	text-align: center;
	margin: 0 auto;
	width: 550px;
	height: 410px;
	padding: 1em 1em 1em 1em;
	vertical-align: middle;
}
fieldset{
	background-color: white;
}
legend {
	font-size: 32px;
	font-weight: bold;
	padding: 3px 3px 3px 3px;
}
.forms input, .form label {
	padding: 5px 5px 5px 5px;
	margin: 5px 5px 5px 5px;
	font-size: 18px;
	text-align: left;
}
#register {
	display: none;
}
.submitButton {
	float: right;
	font-size: 24px;
	color: white;
	padding: 10px 60px 10px 60px;
	margin: 24px 5px 24px 5px;
}
.backButton, #RegisterButton {
	float: left;
	font-size: 22px;
	padding: 10px 10px 10px 10px;
}
#sErrorMessage, #rErrorMessage {
	margin: 0 auto;
	color: red;
	display: none;
	text-align: center;
	font-weight: bold;
}