@font-face {   
    src: url("../fonts/Raleway/static/Raleway-Thin.ttf");
	font-family: Raleway;
}
body {
	background-color: #FFF;
	color: Black;
	margin: 8px 0px 8px 0px;
}
h1 {
	background: gray url("../media/CampFire.JPG") no-repeat center;
	background-size: cover;
	margin: 20px 0px 20px 0px;
	line-height: 20px;
	padding: 228.5px 0px 228.5px 0px;
	height: 20px;
	vertical-align: middle;
	text-align: center;
	letter-spacing: 0.016129em;
	font-family: Raleway;
    font-size: 62px;
    font-weight: 100;
	font-style: normal;
	text-transform: none;
    color: #fff;
}
